:root {
    --first-color: #ce4c32;
    --second-color: #3f8465;
    --third-color: #43c0a0;
    --fourth-color: #eacabb;
    --fifth-color: #1f3f3c;
}




.top-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--second-color);
    color: var(--first-color);
}

.top-header h1 {
    font-weight: bold;
    font-size: 38px;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.top-header nav {
    display: flex;
    align-items: center;
}

.top-header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    list-style: none;
}

.top-header nav ul li a {
    padding: 10px 15px;
    font-size: 1.55vw;
    color: var(--first-color);
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.lower-header {
    background-image: url('../images/fern-forest.jpg');
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: flex-end;
}

.lower-header img {
    height: 200px;
    width: 200px;
    padding: 20px;
    border: transparent 20px;
    border-radius: 15px;
}

.lower-header h2 {
    color: var(--fourth-color);
    font-size: 30px;
    font-weight: bold;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.about {
    background-color: var(--fourth-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.title {
    color: var(--third-color);
    width: 20%;
    font-size: 30px;
}

.bio {
    color: var(--second-color);
    width: 70%;
    font-size: 18px;
}

.work {
    background-color: var(--fifth-color);
    display: flex;
    justify-content: center;
}

.applications {
    width: 70%;
    display: flex;
    flex-wrap: wrap;   
}

.first-app {
    padding: 20px;
    position: relative;
}
.first-app img {
    max-height: 100%;
    max-width: 100%;
}

.first-app-name {
    position: absolute;
    bottom: 35px;
    left: 20px;
    background-color: var(--fourth-color);
    color: var(--second-color);
    font-size: 18px;
}

.other-apps {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.other-app {
    max-width: 45%;
    max-height: 45%;
    position: relative;
}

.app-name {
    position: absolute;
    bottom: 15px;
    left: 0px;
    background-color: var(--fourth-color);
    color: var(--second-color);
    font-size: 18px;
}

.repo-link {
    position: absolute;
    border: 10px;
    bottom: 40px;
    left: 0px;
    background-color: var(--fourth-color);
    color: var(--second-color);
    font-size: 18px;
}
.h-app-name {
    position: absolute;
    bottom: 60px;
    left: 0px;
    background-color: var(--fourth-color);
    color: var(--second-color);
    font-size: 18px;
}

.other-app  img{
    max-height: 100%;
    max-width: 100%;
}

.contact {
    background-color: var(--first-color);
    display: flex;
    flex-wrap: wrap;
}

.contact-links {
    color: var(--second-color);
    width: 70%;
    font-size: 18px;
}

.contact-links nav {
    display: flex;
    justify-content: flex-end;
}

.contact-links nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.contact-links nav ul li a {
    padding: 10px 15px;
    font-size: 1.55vw;
    color: var(--third-color);
}

@media screen and (max-width: 980px) {
    .top-header {
        justify-content: center;
    }
    
    .top-header h1 {
        width: 100%;
        text-align: center;
    }

    .top-header nav ul {
        margin-top: 25px;
        width: 100%;
        justify-content: center;
    }

    .top-header nav ul li a {
        font-size: 20px;
    }

    .lower-header {
        justify-content: center;
    }

    .about, .work, .contact {
        flex-direction: column;
        text-align: center;
    }

    .title, .bio, .applications, .contact-links {
        width: 100%;
        justify-content: center;
    }

    .app-name {
        left: 8px;
    }

    .wip {
        left: 30px;
    }

    .h-app-name {
        left: 0;
        bottom: 75px;
    }

    .contact-links nav {
        justify-content: center;
    }

    .contact-links nav ul li a {
        font-size: 20px;
        font-weight: bold;
    }
}


@media screen and (max-width: 768px) {
    .other-apps {
        flex-direction: column;
        align-items: center;
    }

    .other-app {
        max-width: 80%;
    }
    
}

@media screen and (max-width: 575px) {


   .contact-links nav ul {
       display: inline;
       line-height: 1.5;
       text-align: justify;
   }

    
}