.top-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #3f8465;
    color: #ce4c32;
}

.top-header h1 {
    font-weight: bold;
    font-size: 38px;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.top-header nav {
    display: flex;
    align-items: center;
}

.top-header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    list-style: none;
}

.top-header nav ul li a {
    padding: 10px 15px;
    font-size: 1.55vw;
    color: #ce4c32;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.lower-header {
    background-image: url('../images/fern-forest.jpg');
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: flex-end;
}

.lower-header img {
    height: 200px;
    width: 200px;
    padding: 20px;
    border: transparent 20px;
    border-radius: 15px;
}

.lower-header h2 {
    color: #eacabb;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.about {
    background-color: #eacabb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.title {
    color: #43c0a0;
    width: 20%;
    font-size: 30px;
}

.bio {
    color: #3f8465;
    width: 70%;
    font-size: 18px;
}

.work {
    background-color: #1f3f3c;
    display: flex;
    justify-content: center;
}

.applications {
    width: 70%;
    display: flex;
    flex-wrap: wrap;   
}

.first-app {
    padding: 20px;
    position: relative;
}
.first-app img {
    max-height: 100%;
    max-width: 100%;
}

.first-app-name {
    position: absolute;
    bottom: 35px;
    left: 18px;
    background-color: #eacabb;
    color: #3f8465;
    font-size: 18px;
}

.other-apps {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.other-app {
    max-width: 45%;
    max-height: 45%;
    position: relative;
}

.app-name {
    position: absolute;
    bottom: 15px;
    left: 0px;
    background-color: #eacabb;
    color: #3f8465;
    font-size: 18px;
}

.h-app-name {
    position: absolute;
    bottom: 75px;
    left: 0px;
    background-color: #eacabb;
    color: #3f8465;
    font-size: 18px;
}

.other-app  img{
    max-height: 100%;
    max-width: 100%;
}

.contact {
    background-color: #ce4c32;
    display: flex;
    flex-wrap: wrap;
}

.contact-links {
    color: #3f8465;
    width: 70%;
    font-size: 18px;
    justify-content: flex-end;
    align-items: center;
}

.contact-links nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.contact-links nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between flex-end;
    align-items: flex-end;
    list-style: none;
}

.contact-links nav ul li a {
    padding: 10px 15px;
    font-size: 1.55vw;
    color: #3f8465;
    justify-content: flex-end;
    align-items: flex-end;
}